{% extends "base.html" %} {% load static %} {% block content %} 
{% if user.coordenator %} {% if not user.is_anonymous %}
<div class="ContainerAllRequestNeal">
  <div class="ContentAllRequestNeal">
    <div class="HeaderAllRequestNeal">
      <span class="QtdAllRequestNeal"
        ><p>Número de solicitações:</p>
        <strong>{{qtd_requests}}</strong></span
      >
      <h1>Solicitações de refeições</h1>
    </div>
    <div class="AllRequestNeal">
      {% for req in requests %}
      <div class="Neal">
        <h1>Solicitação</h1>
        <div class="ContentNeal">
          <span class="ContentNealTxt">
            <h4>Nome:</h4>
            <p>{{req.user.first_name}}</p>
            <h4>Tipo:</h4>
            <p>{{req.type}}</p>
            <h4>Data:</h4>
            <p>{{req.data}}</p>
            <h4>Justificativa:</h4>
            <p>{{req.justification}}</p>
          </span>
          <div class="ContentNealButtons">
            <a href="{% url 'approve-snack' req.id %}" id="btnApprove"
              >Aprovar</a
            >
            <a href="{% url 'reject-snack' req.id %}" id="btnReject"
              >Rejeitar</a
            >
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %} {% endif %} {% endblock %}
