{% extends "base.html" %} {% load static %} {% block content %} 
{% if user.is_superuser %} {% if not user.is_anonymous %}
<div class="ContainerAllRequestNeal">
  <div class="ContentAllRequestNeal">
    <div class="HeaderAllRequestNeal">
      <span class="QtdAllRequestNeal"
        ><p>Número de solicitações:</p>
        <p>12</p></span
      >
      <h1>Solicitações de refeições</h1>
    </div>
    <div class="AllRequestNeal">
      <div class="Neal">
        <h1>Solicitação</h1>
        <div class="ContentNeal">
          <span class="ContentNealTxt">
            <h4>Nome:</h4>
            <p>Lobo junior</p>
            <h4>Justificativa:</h4>
            <p>
              Estou pedindo esse almoço hoje pois estarei participando de uma
              atividade estudantil pelo turno da tarde.
            </p>
          </span>
          <div class="ContentNealButtons">
            <a href="#" id="btnApprove">Aprovar</a>
            <a href="#" id="btnReject">Rejeitar</a>
          </div>
        </div>
      </div>
      <div class="Neal">
        <h1>Solicitação</h1>
        <div class="ContentNeal">
          <span class="ContentNealTxt">
            <h4>Nome:</h4>
            <p>Lobo junior</p>
            <h4>Justificativa:</h4>
            <p>
              Estou pedindo esse almoço hoje pois estarei participando de uma
              atividade estudantil pelo turno da tarde.
            </p>
          </span>
          <div class="ContentNealButtons">
            <a href="#" id="btnApprove">Aprovar</a>
            <a href="#" id="btnReject">Rejeitar</a>
          </div>
        </div>
      </div>
      <div class="Neal">
        <h1>Solicitação</h1>
        <div class="ContentNeal">
          <span class="ContentNealTxt">
            <h4>Nome:</h4>
            <p>Lobo junior</p>
            <h4>Justificativa:</h4>
            <p>
              Estou pedindo esse almoço hoje pois estarei participando de uma
              atividade estudantil pelo turno da tarde.
            </p>
          </span>
          <div class="ContentNealButtons">
            <a href="#" id="btnApprove">Aprovar</a>
            <a href="#" id="btnReject">Rejeitar</a>
          </div>
        </div>
      </div>
      <div class="Neal">
        <h1>Solicitação</h1>
        <div class="ContentNeal">
          <span class="ContentNealTxt">
            <h4>Nome:</h4>
            <p>Lobo junior</p>
            <h4>Justificativa:</h4>
            <p>
              Estou pedindo esse almoço hoje pois estarei participando de uma
              atividade estudantil pelo turno da tarde.
            </p>
          </span>
          <div class="ContentNealButtons">
            <a href="#" id="btnApprove">Aprovar</a>
            <a href="#" id="btnReject">Rejeitar</a>
          </div>
        </div>
      </div>
      <div class="Neal">
        <h1>Solicitação</h1>
        <div class="ContentNeal">
          <span class="ContentNealTxt">
            <h4>Nome:</h4>
            <p>Lobo junior</p>
            <h4>Justificativa:</h4>
            <p>
              Estou pedindo esse almoço hoje pois estarei participando de uma
              atividade estudantil pelo turno da tarde.
            </p>
          </span>
          <div class="ContentNealButtons">
            <a href="#" id="btnApprove">Aprovar</a>
            <a href="#" id="btnReject">Rejeitar</a>
          </div>
        </div>
      </div>
      <div class="Neal">
        <h1>Solicitação</h1>
        <div class="ContentNeal">
          <span class="ContentNealTxt">
            <h4>Nome:</h4>
            <p>Lobo junior</p>
            <h4>Justificativa:</h4>
            <p>
              Estou pedindo esse almoço hoje pois estarei participando de uma
              atividade estudantil pelo turno da tarde.
            </p>
          </span>
          <div class="ContentNealButtons">
            <a href="#" id="btnApprove">Aprovar</a>
            <a href="#" id="btnReject">Rejeitar</a>
          </div>
        </div>
      </div>
      <div class="Neal">
        <h1>Solicitação</h1>
        <div class="ContentNeal">
          <span class="ContentNealTxt">
            <h4>Nome:</h4>
            <p>Lobo junior</p>
            <h4>Justificativa:</h4>
            <p>
              Estou pedindo esse almoço hoje pois estarei participando de uma
              atividade estudantil pelo turno da tarde.
            </p>
          </span>
          <div class="ContentNealButtons">
            <a href="#" id="btnApprove">Aprovar</a>
            <a href="#" id="btnReject">Rejeitar</a>
          </div>
        </div>
      </div>
      <div class="Neal">
        <h1>Solicitação</h1>
        <div class="ContentNeal">
          <span class="ContentNealTxt">
            <h4>Nome:</h4>
            <p>Lobo junior</p>
            <h4>Justificativa:</h4>
            <p>
              Estou pedindo esse almoço hoje pois estarei participando de uma
              atividade estudantil pelo turno da tarde.
            </p>
          </span>
          <div class="ContentNealButtons">
            <a href="#" id="btnApprove">Aprovar</a>
            <a href="#" id="btnReject">Rejeitar</a>
          </div>
        </div>
      </div>
      <div class="Neal">
        <h1>Solicitação</h1>
        <div class="ContentNeal">
          <span class="ContentNealTxt">
            <h4>Nome:</h4>
            <p>Lobo junior</p>
            <h4>Justificativa:</h4>
            <p>
              Estou pedindo esse almoço hoje pois estarei participando de uma
              atividade estudantil pelo turno da tarde.
            </p>
          </span>
          <div class="ContentNealButtons">
            <a href="#" id="btnApprove">Aprovar</a>
            <a href="#" id="btnReject">Rejeitar</a>
          </div>
        </div>
      </div>
      <div class="Neal">
        <h1>Solicitação</h1>
        <div class="ContentNeal">
          <span class="ContentNealTxt">
            <h4>Nome:</h4>
            <p>Lobo junior</p>
            <h4>Justificativa:</h4>
            <p>
              Estou pedindo esse almoço hoje pois estarei participando de uma
              atividade estudantil pelo turno da tarde.
            </p>
          </span>
          <div class="ContentNealButtons">
            <a href="#" id="btnApprove">Aprovar</a>
            <a href="#" id="btnReject">Rejeitar</a>
          </div>
        </div>
      </div>
      <div class="Neal">
        <h1>Solicitação</h1>
        <div class="ContentNeal">
          <span class="ContentNealTxt">
            <h4>Nome:</h4>
            <p>Lobo junior</p>
            <h4>Justificativa:</h4>
            <p>
              Estou pedindo esse almoço hoje pois estarei participando de uma
              atividade estudantil pelo turno da tarde.
            </p>
          </span>
          <div class="ContentNealButtons">
            <a href="#" id="btnApprove">Aprovar</a>
            <a href="#" id="btnReject">Rejeitar</a>
          </div>
        </div>
      </div>
      <div class="Neal">
        <h1>Solicitação</h1>
        <div class="ContentNeal">
          <span class="ContentNealTxt">
            <h4>Nome:</h4>
            <p>Lobo junior</p>
            <h4>Justificativa:</h4>
            <p>
              Estou pedindo esse almoço hoje pois estarei participando de uma
              atividade estudantil pelo turno da tarde.
            </p>
          </span>
          <div class="ContentNealButtons">
            <a href="#" id="btnApprove">Aprovar</a>
            <a href="#" id="btnReject">Rejeitar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %} {% endif %} {% endblock %}
