{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{% static 'img/favicon.png' %}"
    />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="theme-color" content="#ffffff" />
    <!--Links to css-->
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
    <link rel="stylesheet" href="{% static 'css/todayMenu.css' %}" />
    <link rel="stylesheet" href="{% static 'css/request.css' %}" />
    <link rel="stylesheet" href="{% static 'css/allRequest.css' %}" />
    <link rel="stylesheet" href="{% static 'css/formToCreateMeal.css' %}" />
    <link rel="stylesheet" href="{% static 'css/select-dish.css' %}" />
    <title>Gerenciamento de Refeições</title>
  </head>
  <body class="body">
    <header class="header" id="header">
      <a href="/">
        <img
          src="{% static 'img/logo.png' %}"
          alt="logo do gerenciamneto de refeição"
        />
      </a>
      <nav class="navBar">
        {% if not user.coordenator and not user.chef %}
          <a href="{% url 'todayMenu' %}">Cardapio do dia</a>
          <a href="{% url 'request-snack' %}">Solicitar refeição</a> 
        {% endif %}
        {% if user.coordenator %}
          <a href="{% url 'all-request-meal' %}">Analisar solicitações</a>
        {% endif %}
        {% if user.chef %}
          <a href="{% url 'create-meal' %}">Cadastrar refeições</a>    
          <a href="{% url 'select-dish' %}">Escolher prato do dia</a>
        {% endif %}
        {% if user.is_anonymous %}
          <a class="btnLogin" href="{% url 'social:begin' 'suap' %}">Login</a>
        {% endif %}
        {% if not user.is_anonymous %}
          <a href="#">Olá, {{user.first_name}}</a>
          <a class="btnLogin" href="{% url 'logout' %}">Logout</a>
        {% endif %}
      </nav>
    </header>
    {% block content %} {% endblock %}

    <footer class="footer">
      <div class="OptionsFooter">
        <a href="#header">Voltar ao topo</a>
        <div class="ContentImg">
          <p>Sistema de gerenciamento de refeições do IFRN 2023</p>
          <img src="{% static 'img/copyright.svg'%}" />
        </div>
      </div>
      <div class="OptionsFooter">
        <a href="https://portal.ifrn.edu.br/">Portal do IFRN</a>
        <a href="https://suap.ifrn.edu.br/">SUAP</a>
        <div class="ContentImg">
          <a href="https://www.instagram.com/ifrnpaudosferros/"
            ><img src="{% static 'img/instagram-logo.svg'%}"
          /></a>
          <a href="https://www.facebook.com/ifrnpaudosferros"
            ><img src="{% static 'img/facebook-logo.svg'%}"
          /></a>
        </div>
      </div>
    </footer>
  </body>
</html>
