{% extends "base.html" %} {% load static %} {% block content %}
<div class="ContainerRequest">
  {% if messages %} {% for message in messages %}
  <p style="color: red">{{ message }}</p>
  {% endfor %}
  {% endif %}
  <div class="ContainerContent">
    <div class="ContainerAlign">
      <img src="{% static 'img/imgLunch.png' %}" alt="" />
      <div class="ContainerTxtRequest">
        <h1>Solicitar Refeição</h1>
        <form method="post" class="formulario">
          {% csrf_token %}

          <label for="data" name="data">Solicitar para o dia:</label>
          {{ form.data }}

          <label for="type" name="type">Tipo de refeição</label>
          {{form.type}}

          <label for="justification" name="justification"
            >Justificativa da solicitação:</label
          >
          {{ form.justification }}

          <input type="submit" value="Enviar Solicitação" id="request-button" />
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
