{% extends "base.html" %} {% load static %} {% block content %} 
{% if user.is_superuser %} {% if not user.is_anonymous %}

<div class="select-dish">
    <div class="select-dish-container">
        <h1>Selecionar as refeições do dia</h1>
        <div class="registered-dish">
            <h2>Almoços cadastrados</h2>
            <div class="registered-dish-container">
                <div class="card-dish">
                    <img src="{% static 'img/almoco.png' %}" alt="">
                    <div class="description">
                        <p class="description-title">Descrição:</p>
                        <p class="description-text">Arroz solto, feijão carioca, salada simples, batata frita, bife e ovo frito.</p>
                    </div>
                    <button class="btn-select-dish">Selecionar</button>
                </div>
                <div class="card-dish">
                    <img src="{% static 'img/almoco.png' %}" alt="">
                    <div class="description">
                        <p class="description-title">Descrição:</p>
                        <p class="description-text">Arroz solto, feijão carioca, salada simples, batata frita, bife e ovo frito.</p>
                    </div>
                    <button class="btn-select-dish">Selecionar</button>
                </div>
                <div class="card-dish">
                    <img src="{% static 'img/almoco.png' %}" alt="">
                    <div class="description">
                        <p class="description-title">Descrição:</p>
                        <p class="description-text">Arroz solto, feijão carioca, salada simples, batata frita, bife e ovo frito.</p>
                    </div>
                    <button class="btn-select-dish">Selecionar</button>
                </div>
                <div class="card-dish">
                    <img src="{% static 'img/almoco.png' %}" alt="">
                    <div class="description">
                        <p class="description-title">Descrição:</p>
                        <p class="description-text">Arroz solto, feijão carioca, salada simples, batata frita, bife e ovo frito.</p>
                    </div>
                    <button class="btn-select-dish">Selecionar</button>
                </div>
                <div class="card-dish">
                    <img src="{% static 'img/almoco.png' %}" alt="">
                    <div class="description">
                        <p class="description-title">Descrição:</p>
                        <p class="description-text">Arroz solto, feijão carioca, salada simples, batata frita, bife e ovo frito.</p>
                    </div>
                    <button class="btn-select-dish">Selecionar</button>
                </div>
                <div class="card-dish">
                    <img src="{% static 'img/almoco.png' %}" alt="">
                    <div class="description">
                        <p class="description-title">Descrição:</p>
                        <p class="description-text">Arroz solto, feijão carioca, salada simples, batata frita, bife e ovo frito.</p>
                    </div>
                    <button class="btn-select-dish">Selecionar</button>
                </div>
            </div>
        </div>
        <div class="registered-dish">
            <h2>Jantas cadastradas</h2>
            <div class="registered-dish-container">
                <div class="card-dish">
                    <img src="{% static 'img/janta.png' %}" alt="">
                    <div class="description">
                        <p class="description-title">Descrição:</p>
                        <p class="description-text">Macarronada  com carne moída</p>
                    </div>
                    <button class="btn-select-dish">Selecionar</button>
                </div>
                <div class="card-dish">
                    <img src="{% static 'img/janta.png' %}" alt="">
                    <div class="description">
                        <p class="description-title">Descrição:</p>
                        <p class="description-text">Macarronada  com carne moída</p>
                    </div>
                    <button class="btn-select-dish">Selecionar</button>
                </div>
                <div class="card-dish">
                    <img src="{% static 'img/janta.png' %}" alt="">
                    <div class="description">
                        <p class="description-title">Descrição:</p>
                        <p class="description-text">Macarronada  com carne moída</p>
                    </div>
                    <button class="btn-select-dish">Selecionar</button>
                </div>
                <div class="card-dish">
                    <img src="{% static 'img/janta.png' %}" alt="">
                    <div class="description">
                        <p class="description-title">Descrição:</p>
                        <p class="description-text">Macarronada  com carne moída</p>
                    </div>
                    <button class="btn-select-dish">Selecionar</button>
                </div>
                <div class="card-dish">
                    <img src="{% static 'img/janta.png' %}" alt="">
                    <div class="description">
                        <p class="description-title">Descrição:</p>
                        <p class="description-text">Macarronada  com carne moída</p>
                    </div>
                    <button class="btn-select-dish">Selecionar</button>
                </div>
                <div class="card-dish">
                    <img src="{% static 'img/janta.png' %}" alt="">
                    <div class="description">
                        <p class="description-title">Descrição:</p>
                        <p class="description-text">Macarronada  com carne moída</p>
                    </div>
                    <button class="btn-select-dish">Selecionar</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endif %} {% endif %} {% endblock %}