.ContainerHome {
    background: #202024;
    width: 90%;
    height: 800px;
    border-radius: 8px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}


.ContainerImg > img {
    width: 512px;
    height: 480px;
}

.ContainerTxt {
    display: flex;
    flex-direction: column;
    max-width: 638px;
    gap: 16px;
}

.ContainerTxt > h1 {
    font-size: 48px;
}

.ContainerTxt > span {
    color: #00875F;
    font-size: 32px;
    text-align: left;
}

.ContainerTxt > p {
    font-size: 24px;
    text-align: left;
}

.ContainerRecursos {
    background: #202024;
    width: 90%;
    height: 300px;

    border-radius: 8px;
    margin: 64px auto;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.Textos {
    display: flex;
    align-items: center;
    gap: 4px;
}

.Textos > span {
    color: #00B37E;
    font-weight: bold;
    font-size: 20px;
}

.Textos > p {
    color: #A9A9B2;
    font-weight: normal;
    font-size: 20px;
}

.ContainerRecursos > img {
    max-width: 128px;
    max-height: 128px;
}